h1 {
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-size: 2.5em;
    font-weight: 400;
    color: rgb(200, 200, 200);
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    color: rgb(64, 64, 64);
    letter-spacing: 2pt;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
    color: rgb(180, 180, 180);
    letter-spacing: 0.5pt;
    text-align: left;
}

img {
    transition: transform 10s ease-in-out;
}

img:hover {
    transform: rotate(1080deg);
}

body {
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}