body {
    margin: 0;
    background-color: #EADED5;
}

p {
    margin:0;
}

.outtercontainer {
    width:100%;
    overflow: hidden;
}

.blackbg {
    background-color: #EADED5;;
}

.parentcontainer {
    display: grid;
    grid-template-columns: repeat(14, 1fr); /* 3 Spalten fr für fraction */
    grid-template-rows: repeat(8, 1fr); /* 3 Zeilen */
    height: 700px;
}

.playfairitalic2 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-style: italic;
    font-weight: 600;
    color: #1E1E1E
}

.playfair10 {
    font-family: 'Playfair Display', serif;
    font-size: 35rem;
    font-weight: 800;
    color: white;
}

.playfair8 {
    font-family: 'Playfair Display', serif;
    font-size: 16rem;
    font-weight: 300;
    line-height: 14rem;
    color: #1E1E1E;
}

.roboto8 {
    font-family: 'Roboto', sans-serif;
    font-size: 16rem;
    line-height: 14rem;
    font-weight: 800;
}

.line-right {
    border: 3px solid #1E1E1E;
    width: 40vw;
    grid-column: 10 / 15; /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 2 / 3;
    text-align: right;
    align-self: center;
}

.row1 {
    margin-left: 0;
    grid-column: 2 / 10; /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 2 / 3;
    text-align: left;
    align-self: center;
}

.row2 {
    grid-column: 5 / 11; /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 2 / 9;
    text-align: center;
    align-self: center;
}

.row3 {
    grid-column: 2 / 8; /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 3 / 9;
    text-align: left;
    align-self: center;
}

.row4 {
    grid-column: 8 / 14; /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 3 / 9;
    text-align: right;
    align-self: center;
    margin-top: -0.2em;
}