
body{
    margin: 0;
}


.parentcontainer {
    display:grid; 
    grid-template-columns: repeat(12, 8.3%); 
    grid-template-rows: repeat(10, 10%); 
    width: 100%;
}

.h1 {
    font-family: 'Germania One', cursive;
    color: black;
    font-size: 10vw;
}


.h2 {
    font-family: 'Germania One', cursive;
    color: black;
    font-size: 20vw;

}

.row1 {
    grid-column: 4 / 10;
    grid-row: 2 / 4;
    align-self: flex-end;
    text-align: center;

}

.row2 {
    grid-column: 4 / 10;
    grid-row: 4 / 6;
    align-self: flex-end;
    text-align: center;

}


.row3 {
    grid-column: 2 / 3;
    grid-row: 6 / 9;
    align-self: flex-end;
    text-align: center;

}

.row4 {
    grid-column: 3 / 4;
    grid-row: 7 / 10;
    align-self: flex-end;
    text-align: center;

}

.row5 {
    grid-column: 4 / 5;
    grid-row: 6 / 9;
    align-self: flex-end;
    text-align: center;

}

.row6 {
    grid-column: 5 / 6;
    grid-row: 7 / 10;
    align-self: flex-end;
    text-align: center;

}

.row7 {
    grid-column: 6 / 7;
    grid-row: 6 / 9;
    align-self: flex-end;
    text-align: center;

}

.row8 {
    grid-column: 7 / 8;
    grid-row: 7 / 10;
    align-self: flex-end;
    text-align: center;

}

.row9 {
    grid-column: 8 / 9;
    grid-row: 6 / 9;
    align-self: flex-end;
    text-align: center;

}








