body {
background-color: rgb(255, 140, 0);
padding: 7%;
}



h1 {
    font-family: 'Rakkas', cursive;
    font-size: 40pt;
    color: black;
}


h2 {
    font-family: 'Rakkas', cursive;
    font-size: 40pt;
    color: black;
    text-align: right;
}


b {
    font-size: 80pt;
    background-color: none;
}

b1 {
    font-size: 100pt;
    background-color: none;
}

b2 {
    font-size: 120pt;
    background-color: none;
}


b3 {
    font-size: 140pt;
    background-color: none;
}


b4 {
    font-size: 300pt;
    background-color: none;
}






.blink {
    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 0.2s; 
    animation-iteration-count: infinite;            
}

@keyframes animation_blink {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }    
}


.fade {
    animation-name: animation_fade;
    animation-timing-function: ease-out;
    animation-duration: 5s; 
    animation-iteration-count: infinite; 
}

@keyframes animation_fade {
    from {opacity: 100%;}
    to {opacity: 0%;}
}




.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 140px;
    color: black;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }