body {
    text-align: center;
    margin: 0;
}

.outter-container{
    max-width: 100%;
    overflow: hidden;
}

h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

p {
    margin: 0;
}

/* ------------------ BLÖCKE ------------------ */

.block1 {
    float: center;
    text-align: center;
}

.block2 {
    text-align: center;
    margin-top: 1em;
    }

.block3 {
    margin-top: -12em;
    padding-bottom: 0;
    height: 500px;
    background-image: url(Grafiken/wellen-background.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.block4 {
    background-color: black;
    color: white;
}

.block5 {
    margin-top: 0em;
    padding-bottom: 0;
    height: 500px;
    background-image: url(Grafiken/wellen-background-end.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.block6 {
    color: rgb(0, 0, 0);
}

/* ------------------ ROWS ------------------ */

.row1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 6.4em;
    width: 100vw;
    margin-top: 1em;
}

.row2 {
    width: 100vw;
    margin-top: 3em;
    height: 500px;
}

.row3 {
    width: 100vw; 
    margin-top: 2em;
}

.row4 {
    width: 100vw;
}

.row5 {
    height: 900px;
}

.row6 {
    height: 400px;
}

/* ------------------ COLS ------------------ */

.col1 {
    width: 40vw;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 18em;
    line-height: 0.8em;
    text-align: left;
    padding-left: 10vw;
}

.col2 {
    width: 40vw;
    float: right;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 16em;
    line-height: 0.85em;
    text-align: right;
    padding-right: 10vw;
}

.col3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 3.5em;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.col4 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-weight: 100;
    font-size: 4.5em;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.col5 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 6.4em;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
}

.col6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 36em;
    line-height: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: black;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

.col7 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 3.5em;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.col8 {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 18em;
    width: 80vw;
    margin-top: 0.5em;
    padding-left: 10vw;
    padding-right: 10vw;
}

.col9 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 6.4em;
    width: 80vw;
    margin-top: 2em;
    padding-left: 10vw;
    padding-right: 10vw;
}

.col10 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 3.5em;
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
}