@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
    /* CSS Angaben über Custom Properties definieren, -> zentraler Ort, um Werte zu ändern */
    --white: #fff;
    --background: #e4007b;
    --dark: #6d0039;
    --bright: #c10069;
    --medium: #a00058;
}

body{
    margin: 0;
    padding: 0;
}

section.dotrow {
    display: flex;
    justify-content: space-around;
    background-color: var(--background);
    flex-wrap: wrap;
}

.dot {
    border-radius: 50%;
    flex-basis: 150px;
    height: 150px;
    background-color: var(--white);
    flex-wrap: wrap;
    margin: 20px;
}

.dot:nth-of-type(1) {
    background-color: #a00058;
}

.dot:nth-of-type(2) {
    background-color: white
}

.dot:nth-of-type(3) {
    background-color: #6d0039
}

.dot:nth-of-type(4) {
    background-color: white
}

section.infotext {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    flex-wrap: wrap;
}