body {
    background-color: brown;
    /* background-image: url(bild.png) */
}


h1 {
    font-family: 'Hepta Slab', serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 400%;
    text-align: center;
    margin: 30px;
}

h2 {
    font-family: 'Hepta Slab', serif;
    font-weight: 200;
    color: brown;
    font-size: 250%;
    text-align: center;
    padding: 30px;
    margin: 30px;
}

.absatz1 {
    font-family: 'Hepta Slab', serif;
    font-weight: 200;
    font-size: 250%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    margin: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes bild {
    from {
        object-position: 1000px;
    }

    to {
        object-position: 0px;
    }
}

img {
    animation-name: bild;
    animation-duration: 3s;
    transition-delay: 20s;
    margin: 50px;
}

.white {
    background-color: white;
    margin-top: 50px;
}


/* img {
    align-items: center;
    margin: 30px;
    width: 400px;
}
*/



/* 
@keyframes bild {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

img {
    animation-name: bild;
    animation-duration: 5s;
  }
  */