*{
  margin:0;
  padding: 0;
}
body{
  padding: 25px 0;
}
.container{
  width:80vw;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 25px;
}
.parent{
  display: flex;
  margin-bottom: 25px;
}
.child{
  background-color: red;
  opacity: 0.5;
  padding: 25px;
  margin: 10px;
  transition: 0.2s ease;
}
.child:hover{
  transform: scale(1.05);
}
.parent.column{
  flex-direction: column;
}
.parent.center{
  justify-content: center;
}
.parent.center.column{
  height: 60vh;
  border: 1px solid black;
}
.parent.between{
  justify-content: space-between;
}
.parent.around{
  justify-content: space-around;
}
.parent.around.column,
.parent.between.column{
  height: 60vh;
  border: 1px solid black;
}
.parent.itemcenter{
  align-items: center;
  height: 60vh;
  border: 1px solid black;
}
.parent.itemend{
  align-items: end;
  height: 60vh;
  border: 1px solid black;
}
.parent.wrap{
  flex-wrap: wrap;
}
.parent.basis.grow .child{
  width: 300px;
  flex-grow:1;
}
.parent.basis.shrink .child:nth-last-of-type(2){
  width: 300px;
  flex-shrink:10;
}
