.group{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

/* beide elemente liegen ursprünglich übereinander */
.not_transformed,
.transformed {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 400px;
    width: 400px;
}
/* zur visuellen unterscheidung zwei unterschiedliche stile zuweisen */
.not_transformed {
    background-color: black;
}
.transformed {
    background-color: rgba(0, 0, 255, 0.5);
}
.shift{
  transform: translate(100px, 200px);
}
.rotate{
  transform: rotate(45deg);
}
.scale{
  transform: scale(0.5, 0.4);
  transform-origin: 0 0;
}
.skew{
  transform: skew(3deg, 9deg);
}
