body {
    margin: 0;
    background-color: #EADED5;
    cursor: none;
}

p {
    margin: 0;
}

audio {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 50px;
}

.outtercontainer {
    width: 100%;
    overflow: hidden;
}

.smallcontainer {
    width: 100%;
    overflow: hidden;
    height: 400px;
}

.whitebg {
    background-color: #ffffff;
}

.beigebg {
    background-color: #EADED5;
}

.blackbg {
    background-color: #1E1E1E;
}

.brownbg {
    background-color: #C97D68;
}

.parentcontainer {
    display: grid;
    grid-template-columns: repeat(14, 7.05vw);
    /* 14 Spalten fr für fraction */
    grid-template-rows: repeat(8, 1fr);
    /* 8 Zeilen */
    height: 800px;
    transition-property: all;
    z-index: 10;
}

.parentcontainerbigger {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    /* 14 Spalten fr für fraction */
    grid-template-rows: repeat(19, 1fr);
    /* 19 Zeilen */
    height: 2000px;
}

/* ---------- SCHRIFTEN ---------- */


.playfairitalic2 {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
    font-style: italic;
    font-weight: 600;
    color: #1E1E1E
}

.playfairitalic2beige {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
    font-style: italic;
    font-weight: 600;
    color: #EADED5;
}

.playfairitalic2red {
    font-family: 'Playfair Display', serif;
    font-size: 5vw;
    font-style: italic;
    font-weight: 600;
    color: #C97D68;
}

.playfair10 {
    font-family: 'Playfair Display', serif;
    font-size: 35rem;
    font-weight: 800;
    color: white;
}

.playfair8 {
    font-family: 'Playfair Display', serif;
    font-size: 16rem;
    font-weight: 300;
    line-height: 14rem;
    color: #1E1E1E;
}

.playfair6 {
    font-family: 'Playfair Display', serif;
    font-size: 10rem;
    font-weight: 300;
    line-height: 14rem;
    color: #EADED5;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.playfair4italic {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 12vw;
    font-weight: 300;
    line-height: 14rem;
    color: #C97D68;
    text-align: center;
    white-space: nowrap;
}

.playfair6red {
    font-family: 'Playfair Display', serif;
    font-size: 10rem;
    font-weight: 300;
    line-height: 14rem;
    color: #C97D68;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.playfair6beige {
    font-family: 'Playfair Display', serif;
    font-size: 10rem;
    font-weight: 300;
    line-height: 14rem;
    color: #EADED5;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.roboto10 {
    font-family: 'Roboto', sans-serif;
    font-size: 32vw;
    line-height: 14rem;
    font-weight: 800;
    color: #EADED5;
    -webkit-text-stroke: 3px rgb(255, 255, 255);
}

.roboto10:hover {
    font-family: 'Roboto', sans-serif;
    font-size: 32vw;
    line-height: 14rem;
    font-weight: 800;
    color: white;
    -webkit-text-stroke: 3px rgb(255, 255, 255);
}

.roboto6 {
    font-family: 'Roboto', sans-serif;
    font-size: 12vw;
    font-weight: 800;
    color: #1E1E1E;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.roboto6white {
    font-family: 'Roboto', sans-serif;
    font-size: 12vw;
    font-weight: 800;
    color: #EADED5;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.roboto6beige {
    font-family: 'Roboto', sans-serif;
    font-size: 12vw;
    font-weight: 800;
    color: #ffffff;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.roboto4 {
    font-family: 'Roboto', sans-serif;
    font-size: 8vw;
    line-height: 14rem;
    font-weight: 800;
    color: #1E1E1E;
    -webkit-text-stroke: 3px rgb(255, 255, 255);
}

.dot-outter {
    grid-column: 8 / 10;
    grid-row: 4 / 6;
    align-self: center;
}

#dot {
    height: 1px;
    width: 1px;
    background-color: #1E1E1E;
    border-radius: 50%;
    margin: 0 auto;

}

#dot2 {
    height: 1px;
    width: 1px;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
}

#dot3 {
    height: 1px;
    width: 1px;
    background-color: #C97D68;
    border-radius: 50%;
    margin: 0 auto;
}

#dot4 {
    height: 1px;
    width: 1px;
    background-color: #EADED5;
    border-radius: 50%;
    margin: 0 auto;
}

#dot5 {
    height: 1px;
    width: 1px;
    background-color: #1E1E1E;
    border-radius: 50%;
    margin: 0 auto;
}

/* ---------- LINIEN ---------- */

.line-right {
    border: none;
    background-color: #1E1E1E;
    width: 100%;
    height: 5px;
    grid-column: 10 / 15;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 2 / 3;
    text-align: right;
    align-self: center;
}

.line-right2 {
    stroke: #EADED5;
    stroke-width: 6;
    fill: none;
    background-color: none;
    width: 100%;
    grid-column: 11 / 15;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 4 / 6;
    text-align: right;
    align-self: center;
    transform: translate(10px, 0);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.line-right3 {
    stroke: #1E1E1E;
    stroke-width: 6;
    fill: none;
    background-color: none;
    width: 100%;
    grid-column: 11 / 15;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 4 / 6;
    text-align: right;
    align-self: center;
    transform: translate(10px, 0);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
    animation-play-state: paused;
}

.line-right4 {
    border: none;
    background-color: #1E1E1E;
    width: 100%;
    height: 5px;
    grid-column: 6 / 15;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 2 / 3;
    text-align: right;
    align-self: center;
}

.line-right5 {
    border: none;
    background-color: #EADED5;
    width: 100%;
    height: 5px;
    grid-column: 6 / 15;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 17 / 18;
    text-align: right;
    align-self: center;
}

.line-left {
    border: none;
    background-color: #1E1E1E;
    width: 100%;
    height: 5px;
    grid-column: 1 / 11;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 7 / 8;
    text-align: left;
    align-self: center;
}

.line-left2 {
    stroke: #C97D68;
    stroke-width: 6;
    fill: none;
    background-color: none;
    width: 100%;
    grid-column: 1 / 5;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 4 / 6;
    text-align: left;
    align-self: center;
    transform: translate(-10px, 0);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dashtwo 2s linear reverse;
    animation-play-state: paused;
    transform: rotate(180deg);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.line-left3 {
    border: none;
    background: #EADED5;
    width: 100%;
    height: 5px;
    grid-column: 1 / 8;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 2 / 5;
    text-align: left;
    align-self: center;
}

.line-vertical {
    border: 3px solid #1E1E1E;
    height: 40vw;
    grid-column: 8 / 9;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 3 / 7;
    text-align: right;
    align-self: center;
}

.line-verticalbeige {
    border: 3px solid #EADED5;
    height: 40vw;
    grid-column: 8 / 9;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 3 / 7;
    text-align: right;
    align-self: center;
}

/* ---------- ROWS ---------- */

.row1 {
    margin-left: 0;
    grid-column: 2 / 10;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 2 / 3;
    text-align: left;
    align-self: center;

}

.row2 {
    grid-column: 5 / 11;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 1 / 9;
    text-align: center;
    align-self: center;
}

.row3 {
    grid-column: 2 / 14;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 3 / 7;
    text-align: center;
    align-self: center;
}

.row4 {
    grid-column: 10 / 14;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 7 / 8;
    text-align: right;
    align-self: center;
    margin-top: -0.2em;
}

.row5 {
    grid-column: 5 / 10;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 4 / 6;
    text-align: left;
    align-self: center;
    margin-top: -0.2em;
    animation-name: slidein;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;

}

.row5right {
    grid-column: 6 / 11;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 4 / 6;
    text-align: left;
    align-self: center;
    margin-top: -0.2em;
    animation-name: slideinl;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.row6 {
    grid-column: 2 / 4;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 1 / 9;
    text-align: center;
    align-self: center;
}

.row6right {
    grid-column: 12 / 14;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 1 / 9;
    text-align: center;
    align-self: center;
}

.row7 {
    grid-column: 3 / 6;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 1 / 9;
    text-align: center;
    align-self: center;

}

.row8 {
    margin-left: 0;
    grid-column: 2 / 5;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 2 / 3;
    text-align: left;
    align-self: center;
}

.row9 {
    grid-column: 2 / 14;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 3 / 9;
    text-align: center;
    align-self: center;
}

.row10 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 5em;
    margin-bottom: 10em;
}


.row11 {
    grid-column: 9 / 14;
    /* von Trennlinie 1 bis 3 (nicht Spalten!) */
    grid-row: 2 / 5;
    text-align: left;
    align-self: center;
    margin-top: -0.2em;
}

.row12 {
    grid-column: 7 / 9;
    grid-row: 5 / 7;
    text-align: center;
    align-self: center;
}

.row13 {
    grid-column: 7 / 9;
    grid-row: 6/ 8;
    text-align: center;
    align-self: center;
}

.row14 {
    grid-column: 7 / 9;
    grid-row: 7 / 9;
    text-align: center;
    align-self: center;
}

.row15 {
    grid-column: 7 / 9;
    grid-row: 8 / 10;
    text-align: center;
    align-self: center;
}

.row16 {
    grid-column: 7 / 9;
    grid-row: 9 / 11;
    text-align: center;
    align-self: center;
}

.row17 {
    grid-column: 7 / 9;
    grid-row: 10 / 12;
    text-align: center;
    align-self: center;
}

.row18 {
    grid-column: 7 / 9;
    grid-row: 11 / 13;
    text-align: center;
    align-self: center;
}

.row19 {
    grid-column: 7 / 9;
    grid-row: 12 / 14;
    text-align: center;
    align-self: center;
}

.row20 {
    grid-column: 7 / 9;
    grid-row: 13 / 15;
    text-align: center;
    align-self: center;
    ;
}

.row21 {
    grid-column: 7 / 9;
    grid-row: 14 / 16;
    text-align: center;
    align-self: center;
}

.row22 {
    grid-column: 2 / 6;
    grid-row: 16 / 19;
    text-align: left;
    align-self: center;
    margin-top: -0.2em;
}

#slideinr1 {
    transform: translate(2000px, 0);
    animation-name: slidein;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-delay: 0;
}

#slideinl1 {
    transform: translate(-2000px, 0);
    animation-name: slideinl;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-delay: 2s;
}

#slideinr2 {
    transform: translate(2000px, 0);
    animation-name: slidein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-delay: 0;
}

#slideinr3 {
    transform: translate(2000px, 0);
    animation-name: slidein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-delay: 0;
}

#slideinl2 {
    transform: translate(-2000px, 0);
    animation-name: slideinl;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-delay: 0;
}

/* ---------- AMIMATIONEN ---------- */

@keyframes verkehrt {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes slidein {
    0% {
        transform: translate(2000px, 0);
    }

    100% {
        transform: translate(0px, 0);
    }
}

@keyframes slideinl {
    0% {
        transform: translate(-2000px, 0);
    }

    100% {
        transform: translate(0px, 0);
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dashtwo {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 1000;
    }
}

#world {
    font-family: 'Roboto', sans-serif;
    font-size: 18vw;
    line-height: 14rem;
    font-weight: 800;
    color: #1E1E1E;
    transition-property: all;
    transition-duration: 500ms;
    animation-name: verkehrt;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-play-state: running;
}

#invertedcursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: transform .2s;
  }
