body {
    background-color: rgb(255, 140, 0);
    }



h1 {
    font-family: 'Germania One', cursive;
    color: black;
    font-size: 60pt;
    line-height: 1.2em;
    margin-top: 0.7em;

}


h2 {
    font-family: 'Germania One', cursive;
    color: black;
    font-size: 150pt;
    line-height: 1em;
    margin-top: 0.5em;
}


h3 {
    font-family: 'Germania One', cursive;
    color: black;
    font-size: 400pt;
    line-height: 0.7em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;

}

h4 {
    font-family: 'Germania One', cursive;
    color: rgb(255, 140, 0);
    font-size: 60pt;
    line-height: 0.5em;
    margin-top: 0.7em;
}

h5 {
    font-family: 'Germania One', cursive;
    color: rgb(255, 140, 0);
    font-size: 400pt;
    margin-top: 0.1em;
    writing-mode: vertical-rl;
}

h6 {
    font-family: 'Germania One', cursive;
    color: rgb(255, 140, 0);    
    font-size: 400pt;
    line-height: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    text-align: right;

}

h7 {
    font-family: 'Germania One', cursive;
    color: rgb(255, 140, 0);    
    font-size: 400pt;
    line-height: 0.75m;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

h0 {
    font-family: 'Germania One', cursive;
    color: black;
    font-size: 20pt;
    line-height: 1.2em;
    margin-top: 0.7em;
}

h8 {
    font-family: 'Germania One', cursive;
    color: rgb(255, 140, 0);  
    background-color: black ;
    background-size: contain;
    font-size: 12pt;
    letter-spacing: 0.1em;
    line-height: 2em;
    margin-top: 1em;  
    word-spacing: 0.2em;
    padding: 0.5em;

}

.section_black {
background-color: black;
padding: 3em;

}

.section_orange {
    background-size: screen;
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em;
    }

.laufweite {
    font-family: 'Germania One', cursive;
    color: black;
    font-size: 400pt;
    line-height: 0.7em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    letter-spacing: 0.2em;
}

.right {
    text-align: right;
}

.einrueckung0 {
    font-family: 'Germania One', cursive;
    color: rgb(255, 140, 0);    
    font-size: 80pt;
    line-height: 0.7em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 5em;
}

.einrueckung1 {
    font-family: 'Germania One', cursive;
    color: rgb(255, 140, 0);    
    font-size: 80pt;
    line-height: 0.7em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 5.5em;
}

.einrueckung2 {
    font-family: 'Germania One', cursive;
    color: rgb(255, 140, 0);    
    font-size: 80pt;
    line-height: 0.1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 6em;
}

.einrueckung3 {
    font-family: 'Germania One', cursive;
    color: rgb(255, 140, 0);    
    font-size: 80pt;
    line-height: 0.1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 6.5em;
}

.einrueckung4 {
    font-family: 'Germania One', cursive;
    color: rgb(255, 140, 0);    
    font-size: 80pt;
    line-height: 0.1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 7em;
}

.center {
    text-align: center;
}

