@font-face {
    font-family: Happy Times;
    src: url(happy-times-NG_regular_master.otf);
}

@font-face {
    font-family: Happy Times Italic;
    src: url(happy-times-NG_italic_master.otf);
}
h1{
    font-family: Happy Times Italic;
    font-size: 504px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
}
h2{
    font-family: Happy Times;
    font-size: 312px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.15);
}
h3{
    font-family: Happy Times Italic;
    font-size: 312px;
    font-weight: lighter;
}
h4{
    font-family: Happy Times;
    font-size: 192px;
    font-weight: lighter;
}
h5{ 
    font-family: Happy Times;
    font-size: 120px;
    font-weight: lighter;
}
h6{
    font-family: Happy Times;
    font-size: 48px;
    font-weight: lighter;
}
title{
    font-family: Happy Times Italic;
    font-size: 48px;
    font-weight: lighter ;
}
p{
    font-family: Happy Times Italic;
    font-size: 24px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.4);
}


body {
    background-color: rgb(12, 13, 19);
}