@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
  /* CSS Angaben über Custom Properties definieren, -> zentraler Ort, um Werte zu ändern */
  --white: #fff;
  --background: #e4007b;
  --dark: #6d0039;
  --bright: #c10069;
  --medium: #a00058;
}
section.dotrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--background);
}

.dot {
    border-radius: 50%;
    flex-basis: 150px;
    height: 150px;
    background-color: var(--white);
}

.dot:nth-of-type(1) {
    /*to do farbe ergänzen */ 
    background-color: #c10069;
}

.dot:nth-of-type(3) {
     /*to do farbe ergänzen */ 
     background-color: #6d0039;
}
section.infotext {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.info {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.minidot{
    margin: auto;
    border-radius: 50%;
  
    flex-basis: 10px;
    height: 10px;
    background-color: var(--dark);

}