@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Poppins:ital@1&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Black Ops One', cursive;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
h2{
    position: relative;
    font-size: 14vw;
    color: #000;
    -webkit-text-stroke: 0.3vw white;
    text-transform: uppercase;
}
h2::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: white;
    -webkit-text-stroke: 0vw red;
    border-right: 2px solid white;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%,10%.100%{
        width: 0;
    
    }
    70%,90%{
        width: 100%;
    }
}


