body {
    font-family: 'Montserrat';
    width: 100%;
    height: 100%;
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="32" width="32"><text y="28" font-size="32">🚀</text><path d="M0,2 L0,0 L2,0" fill="black" /></svg>'), auto;
}

.spacing-full {
    height: 100vh;
}

.spacing-half {
    height: 50vh;
}

.spacing-drittel {
    height: 33vh;
}

.child {
    padding: 2rem;
    margin: 2rem;
}


.negativ {
    color: white;
    background-color: black;
}

/* FONTS */
p {
    font-size: 8.3vw;
    font-weight: 700;
    text-transform: uppercase;
}

h6 {
    font-size: 4vw;
    font-weight: 700;
    text-transform: uppercase;
}

/* Section 1 Songtitel */

.par-songtitel {
    display: flex;
    justify-content: space-between;
    height: 33vh;
    flex-wrap: wrap;
}

.ani-songtitel {
    transition-property: all;
    transition-duration: 800ms;
}

.ani-songtitel:hover {
    transform: scale(1.2);
}

.par-songtitel:nth-child(1) {
    align-items: flex-start;
    text-align: left;
}

.par-songtitel:nth-child(2) {
    align-items: center;
    text-align: center;
}

.par-songtitel:nth-child(3) {
    align-items: flex-end;
    text-align: right;
}

/* Section 2 Artist */

.par-artist {
    display: flex;
    justify-content: space-between;
    height: 33vh;
    flex-wrap: wrap;
    background-color: white;
}

.par-artist:nth-child(1) {
    align-items: flex-start;
    text-align: left;
}

.par-artist:nth-child(2) {
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.par-artist:nth-child(3) {
    align-items: flex-end;
    text-align: right;
}

.ani-artist {
    transition-property: all;
    transition-duration: 800ms;
}

.ani-artist:hover {
    transform: scale(1.2);
}

.audio-container {
    display: flex;
    justify-content: space-between;
    border: 1em solid black;
    background-color: white;
    width: 30%;
    text-align: center;
    border-radius: 10em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition-property: all;
    transition-duration: 500ms;

}

.audio-container:hover {
    width: 35%;
}

.bt-play {
    border: 0px;
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="32" width="32"><text y="28" font-size="32">🚀</text><path d="M0,2 L0,0 L2,0" fill="black" /></svg>'), auto;
    background-color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3em;
    transition-property: all;
    transition-duration: 500ms;

}

.bt-play:hover {
    font-size: 6em;

}

.bt-pause {
    border: 0px;
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="32" width="32"><text y="28" font-size="32">🚀</text><path d="M0,2 L0,0 L2,0" fill="black" /></svg>'), auto;
    background-color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3em;
    transition-property: all;
    transition-duration: 500ms;
}

.bt-pause:hover {
    font-size: 6em;

}


/* Section 3 "Ich heb ab" */

.par-lyrics1 {
    display: flex;
    justify-content: space-between;
    height: 33vh;
    flex-wrap: wrap;
}

.par-lyrics1:nth-child(1) {
    align-items: flex-start;
    text-align: left;

}

.par-lyrics1:nth-child(2) {
    align-items: center;
    text-align: center;
    justify-content: center;

}

.par-lyrics1:nth-child(3) {
    align-items: flex-end;
    text-align: right;
    justify-content: right;

}


/* Section 4 Quadrat Schwarz */

.quadratcontainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.quadrat {
    height: 0em;
    width: 0em;
    border-radius: 120em;
    background-color: black;
}


.quadratcontainer-two {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}

.quadrat-two {
    height: 100em;
    width: 100em;
    background-color: black;
}

/* Section 4 "Nichts hält mich am Boden" */

.par-lyrics2 {
    background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}

/* Section 4 "Alles blass und Grau" */

.par-lyrics3 {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    flex-wrap: wrap;
    background-color: black;
}

.par-lyrics3:nth-child(1) {
    align-items: flex-start;
    text-align: left;

}

.par-lyrics3:nth-child(2) {
    align-items: flex-end;
    text-align: right;
}

/* Section 4 "Bin zu lange nicht geflogen" */

.par-lyrics4 {
    display: flex;
    justify-content: center;
    height: 33vh;
    flex-wrap: wrap;
}

.par-lyrics4:nth-child(1) {
    text-align: left;
    align-items: flex-start;
}

.par-lyrics4:nth-child(2) {
    align-items: center;
    text-align: center;
}

.par-lyrics4:nth-child(3) {
    align-items: flex-end;
    text-align: right;
}

/* Section 4 "wie ein" */

.par-lyrics5 {
    display: flex;
    justify-content: center;
    height: 33vh;
    flex-wrap: wrap;
}

.par-lyrics5:nth-child(1) {
    text-align: left;
    align-items: flex-start;
}

.par-lyrics5:nth-child(2) {
    align-items: center;
    text-align: center;
}

.par-lyrics5:nth-child(3) {
    align-items: flex-end;
    text-align: right;
}

/* Astronaut */

.par-lyrics6 {
    display: flex;
    justify-content: space-between;
    height: 33vh;
    flex-wrap: wrap;
}

.ani-lyrics6 {
    transition-property: all;
    transition-duration: 800ms;
}

.ani-lyrics6:hover {
    transform: scale(1.2);
}

.par-lyrics6:nth-child(1) {
    align-items: flex-start;
    text-align: left;
}

.par-lyrics6:nth-child(2) {
    align-items: center;
    text-align: center;
}

.par-lyrics6:nth-child(3) {
    align-items: flex-end;
    text-align: right;
}



/* Effects */

.fx-blass {
    animation-name: blassmachen;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.5, 0, 0.75, 0);

}

@keyframes blassmachen {
    0% {
        filter: blur(20px);
        opacity: 0.2;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.fx-abheben-1 {
    animation-name: abheben-1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

@keyframes abheben-1 {
    0% {
        transform: scale(0.01);
    }

    100% {
        transform: scale(0.5);
    }
}

.fx-abheben-2 {
    animation-name: abheben-2;
    animation-delay: 1.5s;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

@keyframes abheben-2 {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(8);
    }
}