body {
    background-color: rgb (219, 224, 211);
}

h2 {
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
}

.group{
    display:grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    padding: 3vw;
}

/* beide elemente liegen ursprünglich übereinander */
.not_transformed,
.transformed {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 700px;
    text-align: center;
    font-size: 70em;
    font-family: Arial, Helvetica, sans-serif;
}

.right {
    mix-blend-mode: multiply;
    color: cyan;
    transform: translate(80px, 0);
}

.middle {
    mix-blend-mode: multiply;
    color: yellow;
}

.left {
    mix-blend-mode: multiply;
    color: magenta;
    transform: translate(-80px, 0);
}