@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
  /* CSS Angaben über Custom Properties definieren, -> zentraler Ort, um Werte zu ändern */
  --white: #fff;
  --background: #e4007b;
  --dark: #6d0039;
  --bright: #c10069;
  --medium: #a00058;
}