
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* CSS Angaben über Custom Properties definieren, -> zentraler Ort, um Werte zu ändern */
  --white: #fff;
  --background: #e4007b;
  --dark: #6d0039;
  --bright: #c10069;
  --medium: #a00058;
}

.titel {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    line-height: 6rem;
}

/*---- Reihen der farbigen Punkte  ----*/

section.dotrow {
    display: flex;
    justify-content: space-around;
    background-color: var(--background);
    padding: 2rem;
    justify-content: space-around;
    flex-wrap:  wrap;
    flex-direction: row (default);
}

section.dotrow2 {
    display: flex;
    justify-content: space-around;
    background-color: var(--background);
    padding: 2rem;
    justify-content: space-around;
    flex-wrap:  wrap;
    flex-direction: row (default);
}

.dot {
    border-radius: 50%;
    flex-basis: 150px;
    height: 150px;
    background-color: var(--white);
    margin: 1rem;
}

.dot2 {
    border-radius: 50%;
    flex-basis: 150px;
    height: 150px;
    background-color: var(--white);
    margin: 1rem;
}

.dotsmall {
    border-radius: 50%;
    flex-basis: 10px;
    height: 10px;
    background-color: var(--bright);
    margin: 2px;
    align-self: center;
}

.dot:nth-of-type(1) {
    background-color: var(--medium); 
}

.dot:nth-of-type(3) {
     background-color: var(--dark);
}

.dot2:nth-of-type(2) {
    background-color: var(--dark);
}

.dot2:nth-of-type(3) {
    background-color: var(--bright);
}

/*------- section infotexte -------*/

section.infotext {
    display: flex;
    justify-content: center;
    flex-wrap:  wrap;
    flex-direction: row (default);
}

.info {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}